@use 'variables' as *;

footer {
  background-color: $primary-color;
  color: #BD975A;
}

.footer-grid {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  padding: 40px 0;
}

.footer-left {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}

.footer-middle, .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-ul {
  list-style-type: none;
  padding: 0;
}

.footer-ul li {
  margin-bottom: 6px;
}

.footer-li--style {
  text-decoration: none;
  color: #BD975A;
  transition: 0.3s;
}

.footer-contacts:nth-child(1) {
  font-weight: bold;
  margin-bottom: 6px;
}

.footer-li--style:hover {
  color: white;
  transition: 0.4s;
}

.footer-contacts a {
  color: #BD975A;
  text-decoration: none;
  transition: 0.4s;
}

@media (max-width: 990px) {
  .footer-grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .footer-middle {
    display: flex;
    justify-content: space-between;
  }
  .footer-ul {
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-between;
  }
  .footer-ul li {
    margin-right: 10px;
  }
  .footer-ul li:last-child {
    margin-right: 0;
  }
  .footer-left {
    grid-row: 3;
    justify-content: center;
  }
}
